{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
    <link rel="stylesheet" href="{{ asset('bundles/style.css') }}" type="text/css" />
  </head>
  <body>
    <h1>SALUT !!!!!!</h1>
    <section style="border: 1px black solid">
    </section>
  </body>
</html>
