h1 {
	text-align: center;
}

form {
	width: 720px;
	margin: 0 auto;
}

form #prevision div {
	float: left;
	padding-right: 5px;
}

form label {
	display: none;
}

form input {
	width: 150px;
}

form input#fake_prevision_typecours, form input#prevision_nbheures {
	width: 70px;
}

form button[type="submit"] {
	width: 80px;
}