body {
    background: url("http://www.wallpaper4k.com/wp/textures/WPKSZMKG.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
}

nav {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
}

nav > ul {
    margin: 0;
}

h1 {
	text-align: center;
}

nav .nav li {
	text-align: center;
}

section {
    background-color: #eee;
	margin-top: 10px;
	margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
}

section:first-of-type {
	margin-top: 0;
}

form button[type="submit"] {
    margin-right: 10px;
}

table.table {
    margin: 0;
    background-color: white;
}

table.table thead {
    background-color: #f5f5f5;
}

ul {
	margin-top: 20px;
    margin-bottom: 0;
}

.ue-list li {
	text-align:center;
	border:1px solid;
	border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

section h1, section h2, section h3, section h4, section h5, section h6 {
    font-weight: bold;
}

@media screen and (max-width: 767px) {
	.fixed {
		position: static;
	}
}